In [1]:
# Apriori
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori
# Loading the data to a dataframe
df = pd.read_excel(r"C:\Users\bhavrang\Desktop\bhavya\Analytics\NBCdata.xlsx")

In [2]:
len(df.SUBSCRIPTION_ID.unique())

355266

In [3]:
len(df.GOLD_SUBSCRIPTION_ID.unique())

367844

In [4]:
#to get the data at sportlevel along with userids
ndf=df.copy()
#ndf=ndf[(ndf['DATA_SOURCE_STATUS']!='PAYMENT FAILURE')&(ndf['CURRENCY_NM']=='USD')][['USER_DM_ID','Sport name']]
spdf=ndf.groupby('USER_DM_ID')['Sport name'].unique().reset_index(name='sports')

In [5]:
spdf.shape

(318293, 2)

In [6]:
spdf.head()

   USER_DM_ID    sports
0           1  [Sport5]
1           3  [Sport1]
2           4  [Sport4]
3           5  [Sport5]
4           6  [Sport1]

In [8]:
#rs=spdf[spdf.sports.map(len)>1]

In [7]:
#building aproyori algorithm and converting the resultant rules to dataframe
from apyori import apriori
rules = apriori(spdf['sports'],min_length=3,min_confidence=0.000001,min_support=0.000001,min_lift=0.000001) 
results = list(rules)
df_rules=pd.DataFrame(results)

In [8]:
#adding 2 more columns to rules
df_rules['length']=df_rules['items'].apply(lambda x:len(x))
df_rules['items']=df_rules['items'].apply(lambda x :list(x))

In [9]:
df_rules.head()

       items   support                             ordered_statistics  length
0   [Sport1]  0.217897      [((), (Sport1), 0.2178967178040359, 1.0)]       1
1  [Sport12]  0.002381  [((), (Sport12), 0.0023814535663680947, 1.0)]       1
2  [Sport15]  0.052181    [((), (Sport15), 0.05218148058549827, 1.0)]       1
3  [Sport16]  0.001009  [((), (Sport16), 0.0010085047424856972, 1.0)]       1
4  [Sport17]  0.000704  [((), (Sport17), 0.0007037540882143182, 1.0)]       1

In [6]:
#To get the rules only with association more than 1
#dff=dff[dff['length']>1]

df_rules.sort_values(by=['support'],ascending=False)
#dff[22:97]

In [11]:
#to convert ordered statistics rules into another dataframe
stat_rules=pd.DataFrame()
dummy=pd.DataFrame()
l=df_rules.shape[0]
for i in range(l):
    dummy=pd.DataFrame(df_rules['ordered_statistics'][i])
    stat_rules = stat_rules.append(dummy,ignore_index=True)

data['base_item']=data['items_base'].apply(lambda x: list(x))
data['addded_item']=data['items_add'].apply(lambda x: list(x))

In [13]:
#to convert the list of sports from tuple to list
stat_rules['items_base']=stat_rules['items_base'].apply(lambda x :list(x))
stat_rules['items_add']=stat_rules['items_add'].apply(lambda x :list(x))
#to add extra column to stat_rules to join with original rules
stat_rules['items']=stat_rules['items_base']+stat_rules['items_add']

In [14]:
stat_rules.head()

  items_base  items_add  confidence  lift      items
0         []   [Sport1]    0.217897   1.0   [Sport1]
1         []  [Sport12]    0.002381   1.0  [Sport12]
2         []  [Sport15]    0.052181   1.0  [Sport15]
3         []  [Sport16]    0.001009   1.0  [Sport16]
4         []  [Sport17]    0.000704   1.0  [Sport17]

In [349]:
stat_rules.to_excel(excel_writer=r'C:\Users\bhavrang\Desktop\bhavya\Analytics\apriori_confidence.xlsx')
df_rules.to_excel(excel_writer=r'C:\Users\bhavrang\Desktop\bhavya\Analytics\apriori_support.xlsx')